/*--css 初始化-- */

@charset "utf-8";
a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul,
var,
button,
input,
textarea {
	margin: 0;
	padding: 0;
}

fieldset,
img,
input,
button {
	border: none;
	outline-style: none;
}

ul,
ol {
	list-style: none;
}

input {
	font-family: 'Helvetica', 'Microsoft YaHei';
	font-size: 14px;
}

select,
input {
	vertical-align: middle;
}

select,
input,
textarea {
	font-size: 14px;
	outline: none;
}

/*--防止拖动--*/

textarea {
	resize: none;
}

/*--去掉图片低测默认的3像素空白缝隙--*/

img {
	border: 0;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-decoration: none;
	font-weight: normal;
	font-size: 100%;
}

s,
i,
em {
	font-style: normal;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/*--解决button在firefox下文字不能上下居中的问题--*/

button::-moz-focus-inner {
	margin: 0;
	padding: 0px 0 2px;
	border: none;
}

body {
	font-family: 'Helvetica', 'Microsoft YaHei';
	font-size: 14px;
	color: #666;
	background-color: #f3f3f4;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.tree {
	background-color: #fff;
}

.next {
	display: none;
	padding-left: 20px;
}

.item-header {
	position: relative;
	padding-left: 20px;
	padding-right: 100px;
	line-height: 30px;
}

.item-state {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 100%;
}

.item-state:before {
	position: absolute;
	top: 50%;
	left: 0;
	content: '';
}

.item-open:before {
	margin-top: -3px;
	border-top: #ccc 6px solid;
	border-left: transparent 6px solid;
	border-right: transparent 6px solid;
}

.item-close:before {
	margin-top: -6px;
	border-left: #ccc 6px solid;
	border-top: transparent 6px solid;
	border-bottom: transparent 6px solid;
}

.item-opration {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	font-size: 0;
}

.item-opration span {
	display: inline-block;
	width: 20px;
	height: 100%;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.item-header:hover {
	color: #fff;
	background-color: #1c91ca;
}

.item-header:hover .item-open:before {
	border-top-color: #fff;
}

.item-header:hover .item-close:before {
	border-left-color: #fff;
}

.item-opration span:hover {
	background-color: #1773a0;
}
.item-header.active {
	color: #fff;
	background-color: #6d9fb8;
}
