* {
	margin: 0;
	padding: 0;
}
.table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	line-height: 45px;
}
.table th,
.table td {
	border: #ccc 1px solid;
}
.checkbox {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	border: #ccc 1px solid;
	vertical-align: middle;
}
.checkbox input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	vertical-align: top;
	opacity: 0;
}
.checkbox label {
	display: none;
	width: 100%;
	height: 100%;
	background-color: aqua;
}
.checkbox input:checked + label {
	display: block;
}
.page {
	padding-top: 10px;
	text-align: right;
}
.page input {
	width: 40px;
}
.page > div,
.page > p {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
}
.page > div,
.page p {
	min-width: 20px;
	height: 20px;
	border: #ccc 1px solid;
}
.page > div:hover,
.page li:hover {
	background-color: antiquewhite;
}
