.table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	line-height: 45px;
}
.table th,
.table td {
	border: #ccc 1px solid;
}
.checkbox {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	border: #ccc 1px solid;
	vertical-align: middle;
}
.checkbox input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	vertical-align: top;
	opacity: 0;
}
.checkbox label {
	display: none;
	width: 100%;
	height: 100%;
	background-color: aqua;
}
.checkbox input:checked + label {
	display: block;
}
